/***********FOOTER************/
footer {
  background-color: blueviolet; /* Keeping the background color from HEAD */
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: sans-serif;
}

#footer1 {
  display: flex;
  justify-content: space-around;
  background-color: #07536c;
  padding-bottom: 20px;
}


#social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 20px;
}

#social-media i {
  font-size: 40px;
  color: #ff5722; /* Keeping color from HEAD */
}

#footer2 {
  display: flex;
  justify-content: center;
  background-color: #0b1d2b;
  color: white;
}

#footer3 {
  display: flex;
  justify-content: space-around;
  background-color: #0e2538;
  padding: 3px 0px;
}

#footer3 a {
  color: white;
  text-decoration: none;
}

.appstore-logo {
  width: 150px;
  height: 100px;
}

#app {
  justify-items: center;
}

/**************SOCIAL MEDIA LOGO******************/
.social-container a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li::before {
  content: "\2728";
}