html{
  min-width: 825px;
}

/* Homepage Logo */
#homepage-logo{
    border-radius: 50%;
    width: 150px;
}



/* Navigation Bar */
#navbar{
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(47,178,205);
    height: 130px;
}

/* Succer pulse Homepage name*/
#homepage-name{
  font-size: 40px;
  font-family: "Bangers", serif;
  font-weight: 400;
  font-style: normal;
}


/* Logo and Homepage Name zusammen div*/
#logo-name{
  display: flex;
  align-items: center;
}

/* homepage link on homepage name*/
#homepage-name a{
  text-decoration: none;
  color: rgb(190,71,28);
  padding-left: 0;
  margin-left: 0;
}

/* Logo of a League in Dropdown Menu */
.league-logo{
    border-radius: 50%;
    width: 12px;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(26,39,48);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5%;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(108, 178, 231);
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:rgb(49, 104, 146)}





  /***********FOOTER************/
  footer{
    background-color: blueviolet;
  }